name: "snyk test"
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Snyk
        uses: snyk/actions/setup@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

      - name: Authenticate Snyk
        run: snyk auth ${{ secrets.SNYK_TOKEN }}

      - name: Run Snyk Test
        run: |
          echo "Running Snyk test..."
          snyk test --sarif-file-output=.github/workflows/snyk.sarif || true
          echo "Snyk test completed."
          if [ -f .github/workflows/snyk.sarif ]; then
            echo "SARIF file created successfully in .github/workflows/"
          else
            echo "SARIF file not found."
          fi
        continue-on-error: true

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: .github/workflows/snyk.sarif
